*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgb(0, 0, 0); */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.login-page {
  min-height: 100vh;
  background-color: black;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    height: 100vh;
}

.login_box{
    background-color: #5800FF;
    max-width: 25vw;
    max-width: 75vh;
    display: flex;
    justify-content: center;
    align-items: start;
    text-align: center;
    flex-direction: column;
    color: white;
    padding: 90px;
    gap: 20px;
    border-radius: 30px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}
.login_box:hover{
    box-shadow: 0px 0px 100px #E900FF;
}
h1 .log_in{
    text-align: left;
    padding-bottom: 40px;
}

input[type = "email"], input[type = "name"], input[type = "password"]{
    background-color: white;
    border: none;
    min-width: 300px;
    /* height: 30px; */
    font-size: medium;
    padding: 10px;
    font-weight: 500;
    transition: all 0.3s ease;
    border-radius: 30px;
    box-sizing: border-box;
}
label{
    /* background-color: #5800FF; */
    font-size: large;
}
input:focus {
  outline: none;
}
input:hover {
  transform: scale(1.1);
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.4);
}
button{
    text-align: center;
    margin-top: 20px;
    padding: 20px 40px;
    /* width: 100px; */
    font-size: large;
    color: white;
    background-color: #E900FF;
    border-radius: 30px;
    border: none;
    transition: all 0.3s ease;
    font-weight: 600;
}
button:hover{
    cursor: pointer;
    background-color: #FFC600;
    color: black;
}
@media (max-width: 768px) {

  .container {
    padding: 20px;
  }

  .login_box {
    width: 100%;
    max-width: 100%;
    padding: 40px 25px;
    border-radius: 20px;
    align-items: center;
  }

  h1 {
    font-size: 28px;
    text-align: center;
  }

  label {
    font-size: 16px;
    align-self: flex-start;
  }

  input[type="email"],
  input[type="name"],
  input[type="password"] {
    min-width: 100%;
    font-size: 16px;
    padding: 12px;
  }

  input:hover {
    transform: none; 
  }

  button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
  }
}